/** Add css rules here for your application. */

.panelWithBorder {
	border: 1px solid;
}

#centerPanel {
	border: 5px dotted;
}

.gwt-Red-Text {
	color: red;
}

.gwt-center {
	text-align: center;
}

.gwt-border-2px {
	border-width: 2px !important;
}

.gwt-color {
	color: green;
}

.gwt-background-color {
	background-color: AliceBlue;
}

.gwt-font-size {
	font-size: 1.2em;
}

.gwt-round-border {
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	border-radius: 25px;
	padding-left: 15px;
}
